@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

:root {
  --primary-color: #7c3aed;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header h1 {
  text-align: center;
  margin: 2rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
}

.input {
  font-size: large;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
  width: 100%;
  max-width: 325px;
}

.btn-check {
  background: brown;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
}

.footer {
  text-align: center;
}
.lists {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.list {
  border: 1px solid rgb(145, 145, 145);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 10px #000;
}
.foot{
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  border: 1px solid;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px 10px 0 0;
}
.intro{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 1rem;
  font-weight: 600;
}